/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic,900,900italic");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
   background: var(--neutral-gray-4, #F5F5F5);
}
html {
	font-size: 16px; 
}
body {
	line-height: 1;
   font-family: "Roboto";
   background: var(--neutral-gray-4, #F5F5F5);
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
}
/* ---------top-notch------------ */

.top-notch__container {
   
   background: url(../img/Mechanic.png) 0 0 no-repeat;
   background-position: center;
   background-size: cover;
   border: 1px solid #000;
   padding: 293px 901px 408px 210px;
   margin: 0px 0px -80px 0px;
   max-width: 100%;
}
.top-notch__text {
color:#FFF;
font-size: 56px;
font-weight: 900;
line-height: 56px;
max-width: 583px;
margin: 0px 0px 48px 0px;
}

/* -------who-we-are-------- */

.who-we-are__container {
padding: 100px 87px 0px 87px;
background: #ffffff url(../img/background.jpg) top right/ 642px auto no-repeat;
margin: 0px auto;
border: 1px solid transparent;
max-width: 1020px;
}
.who-we-are__subtitle {
   font-size: 12px;
   font-weight: 700;
   line-height: 24px; 
letter-spacing: 2.5px;
text-transform: uppercase;
margin: 0px 0px 33px 0px;
color: #4B4B4B;
background: url(../img/Overline_Mark.png) 0 50% no-repeat;
padding: 0px 0px 0px 50px;
}
.who-we-are__title {
   color:#02133C;
   font-size: 36px;
   font-weight: 900;
   line-height: 42px;
   max-width: 583px;
   margin: 0px 0px 36px 0px;
}
.who-we-are__text {
color:#4B4B4B;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.15px;
margin: 0px 0px 54px 0px;
}
.who-we-are__image {
   margin: 0px 0px -120px 0px;
}
.who-we-are__image img {
   max-width: 100%;
   
}

/* -------our-promise-------- */

.our-promise__container {
   max-width: 1060px;
   margin: 0px auto;
   padding: 220px 0px 0px 0px;
}
.our-promise__subtitle {
color: #4B4B4B;
font-size: 12px;
font-weight: 700;
line-height: 24px; 
letter-spacing: 2.5px;
text-transform: uppercase;
background: url(../img/Overline_Mark.png) left no-repeat;
padding: 0px 0px 0px 27px;
margin: 0px 0px 33px 0px;
}
.our-promise__title {
max-width: 583px;
color:#02133C;
font-size: 36px;
font-weight: 900;
line-height: 42px;
margin: 0px 0px 42px 0px;
}

/* ------------------------------------------------------- */

.icon {
   display: inline-block;
   vertical-align: top;
}
.container {
   display: inline-block;
   margin: 0px 0px 0px 23px;
   
}
.title {
   max-width: 235px;
   color: #02133C;
   font-size: 19px;
   font-weight: 900;
   line-height: 26px; 
}
.text {
   color: #4B4B4B;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.15px;
   max-width: 235px;
}

.main-container {
   display: inline-block;
   margin: 0px 0px 0px 24px
   
}

.video__container {
   background: url(/img/video.png) center / cover no-repeat;
   margin: 121px 0px 103px 0px;
}
.video__content {
   min-height: 500px;
   border: 1px solid transparent;
   
}

.some-block {
   margin: 121px 0px 0px 910px;
}

.video__title {
   color: #FFF;
   font-size: 36px;
   font-weight: 900;
   line-height: 42px; 
   max-width: 411px;
}
.play-button {
}

/* ------------------------------------------------------- */

.our-services__container {
   max-width: 1100px;
   margin: 0px auto;
   padding: 0px 0px 0px 0px;
}
.our-services__subtitle {
   color: #4B4B4B;
font-size: 12px;
font-weight: 700;
line-height: 24px; 
letter-spacing: 2.5px;
text-transform: uppercase;
background: url(../img/Overline_Mark.png) left no-repeat;
padding: 0px 0px 0px 27px;
margin: 0px 0px 33px 0px;
}
.our-services__title {
   max-width: 583px;
color:#02133C;
font-size: 36px;
font-weight: 900;
line-height: 42px;
margin: 0px 0px 42px 0px;
}
.our-services__items {
}
.our-services__item {
   background:#FFF;
   padding: 50px 44px 50px 43px;
   max-width: 324px;
   display: inline-block;
   margin: 0px 24px 24px 0px;

}

.our-services__item:hover {
   box-shadow: 1px 12px 15px 12px rgba(34, 60, 80, 0.2);
}

.our-services__icon {
   text-align: center;
   margin: 0px 0px 33px 0px;

}
.icon {
}
.our-services__item-title {
   max-width: 237px;
   color: #02133C;
   text-align: center;
   font-size: 19px;
   font-weight: 900;
   line-height: 26px;
   margin: 0px 0px 20px 0px; 
}
.our-services__text {
   max-width: 235px;
   color:#4B4B4B;
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px; 
   letter-spacing: 0.15px;
}

.button-learn_more {
   margin: 42px 80px 122px 0px;
   text-align: center;

}

.appoinment__container {
   background:#02133C;
   min-height: 200px;
   margin: 0px auto;
}